body, html{
  background-color: rgb(20, 211, 195);
}
.App{
  background-color: rgb(52, 178, 228);
  border: 5px solid rgb(31, 31, 31) ;
  text-align: center;
}
.mystyle {
  background-color: rgb(21, 114, 138) !important;
}
